<% provide(:title, 'Contact Us') %>

<h1> Contact Us! </h1>

<p>
  The best way to contact us is to email <a href="mailto:fake@email.com"> Robin</a> or call the imaginary number that he won't be giving you within this sample application.

</p>